spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - PreserveHostHeader
          routes:
          - id: auth-jwks
            uri: lb://auth-service
            predicates: [ Path=/auth/.well-known/jwks.json ]
            filters: [ StripPrefix=1 ]
          - id: auth-api
            uri: lb://auth-service
            predicates:
              - Path=/api/v1/auth/**
          - id: employee-api
            uri: lb://employee-service
            predicates:
              - Path=/api/v1/employees/**
          - id: organization-api
            uri: lb://organization-service
            predicates:
              - Path=/api/v1/departments/**,/api/v1/faculties/**,/api/v1/positions/**
          - id: employment-api
            uri: lb://employment-service
            predicates:
              - Path=/api/v1/employments/**
          - id: duty-api
            uri: lb://duty-service
            predicates:
              - Path=/api/v1/duty/**
          - id: leave-requests-api
            uri: lb://leave-service
            predicates:
              - Path=/api/v1/leave-requests/**
          - id: leave-types-api
            uri: lb://leave-service
            predicates:
              - Path=/api/v1/leave-types/**

          - id: auth-docs
            uri: lb://auth-service
            predicates:
              - Path=/docs/auth/v3/api-docs
            filters:
              - RewritePath=/docs/auth/(?<segment>.*), /${segment}

          - id: duty-docs
            uri: lb://duty-service
            predicates:
              - Path=/docs/duty/v3/api-docs
            filters:
              - RewritePath=/docs/duty/(?<segment>.*), /$\{segment}

          - id: leave-docs
            uri: lb://leave-service
            predicates:
              - Path=/docs/leave/v3/api-docs
            filters:
              - RewritePath=/docs/leave/(?<segment>.*), /$\{segment}
          - id: employee-docs
            uri: lb://employee-service
            predicates:
              - Path=/docs/employee/v3/api-docs
            filters:
              - RewritePath=/docs/employee/(?<segment>.*), /$\{segment}

          - id: organization-docs
            uri: lb://organization-service
            predicates:
              - Path=/docs/org/v3/api-docs
            filters:
              - RewritePath=/docs/org/(?<segment>.*), /$\{segment}

          - id: employment-docs
            uri: lb://employment-service
            predicates:
              - Path=/docs/employment/v3/api-docs
            filters:
              - RewritePath=/docs/employment/(?<segment>.*), /$\{segment}

          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          x-forwarded:
            enabled: true
            host-enabled: true
            port-enabled: true
            proto-enabled: true
            prefix-enabled: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://api-gateway:8080/auth/.well-known/jwks.json
server:
  port: 8080
springdoc:
  swagger-ui:
    urls:
      - name: Auth
      - url: /docs/auth/v3/api-docs
      - name: Employee
        url: /docs/employee/v3/api-docs
      - name: Organization
        url: /docs/org/v3/api-docs
      - name: Employment
        url: /docs/employment/v3/api-docs
      - name: Duty
        url: /docs/duty/v3/api-docs
      - name: Leave
        url: /docs/leave/v3/api-docs
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:18761/eureka
